<%= render template: "component/_header"%>

<div class='col-md-8 col-lg-8 col-sm-8 col-md-offset-2 col-sm-offset-2 col-lg-offset-2'>
    <div class='row'>
        <div class='col-md-8 col-sm-8 col-lg-8 col-xs-10'>
            <h2 class='headers-text'> TEAM RANK <small> Based on winning persentage </small> </h2>
        <!-- div .col-md-8 col-sm-8 col-lg-8 col-xs-10 -->
        </div>
        <div class='btn-admin col-md-4 col-sm-4 col-lg-4 col-xs-2'>
            <button type="button" class="btn btn-success btn-md pull-right" align='center' data-toggle="modal" data-target="#myModal">Add New Team</button>

            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <%= form_for @team do |f| %>
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Modal Header</h4>
                            </div>

                            <div class="modal-body">
                                    <div class='form-group'>
                                        <%= f.label :name %><br/>
                                        <%= f.text_field :name, class: 'form-control' %>
                                    </div>
                            </div>

                            <div class="modal-footer">
                                <button class="btn btn-lg btn-success btn-block" type="submit">Save</button>
                            </div>
                        <% end %>
                    <!-- div .modal-content -->
                    </div>
                <!-- div .modal-dialog -->
                </div>
            <!-- div .modal-fade -->
            </div>
        <!-- div .col-md-4 col-sm-4 col-lg-4 col-xs-2-->
        </div>
    </div>





    <div class='jumbotron'>
        <% if @teams.length < 1 %>
            <p> No Team Yet</p>
        <% else %>
            <% @teams.each do |team| %>
                <div class='admin-indexes'>
                    <h3> <%= team.name %> <small> Win:<%=team.winning_count.to_s + "/" + team.match_played.to_s %> </small></h3>
                    <% if team.users.length > 0 %>
                        <% team.users.each do |player| %>

                            <p><%=player.first_name + ", " + player.last_name %> </p>
                        <% end %>
                    <% else %>
                        <p> Dont Have players yet </p>
                    <% end %>
                </div>
            <% end %>
        <% end %>
    <!-- div .jumbotron -->
    </div>
<!-- div .col-md-8 col-lg-8 col-sm-8 col-md-offset-2 col-sm-offset-2 col-lg-offset-2 -->
</div>
