<%= render template: "component/_header"%>

<div class='col-md-8 col-lg-8 col-sm-8 col-md-offset-2 col-sm-offset-2 col-lg-offset-2'>
    <div class='row'>
        <div class='col-md-8 col-sm-8 col-lg-8 col-xs-10'>
            <h2 class='headers-text'> Players <small> All List </small> </h2>
        <!-- div .col-md-8 col-sm-8 col-lg-8 col-xs-10 -->
        </div>
        <div class='btn-admin col-md-4 col-sm-4 col-lg-4 col-xs-2'>
            <button type="button" class="btn btn-success btn-md pull-right" align='center' data-toggle="modal" data-target="#myModal">Add New Player</button>

            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                      <%= form_for @player do |f| %>
                          <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                              <h4 class="modal-title">Modal Header</h4>
                          </div>

                          <div class="modal-body">
                              <div class='form-group'>
                                  <%= f.label :first_name %><br/>
                                  <%= f.text_field :first_name, class: 'form-control' %>
                              </div>

                              <div class='form-group'>
                                  <%= f.label :last_name %><br/>
                                  <%= f.text_field :last_name, class: 'form-control' %>
                              </div>

                              <div class='form-group'>
                                  <%= f.label :team %><br/>
                                  <%= f.collection_select :team_id, Team.order(:name),:id,:name, include_blank: true, class: 'form-control' %>
                              </div>
                          </div>

                          <div class="modal-footer">
                              <button class="btn btn-lg btn-success btn-block" type="submit">Save</button>
                          </div>
                      <% end %>
                    <!-- div .modal-content -->
                    </div>
                <!-- div .modal-dialog -->
                </div>
            <!-- div .modal-fade -->
            </div>
        <!-- div .col-md-4 col-sm-4 col-lg-4 col-xs-2-->
        </div>
    </div>





    <div class='jumbotron'>
        <% if @players.length < 1 %>
            <p> No Players Yet </p>
        <% else %>
            <% @players.each do |player| %>
                <div class='container'>
                    <h4> <%= player.first_name + ", " + player.last_name %> </h4>
                    <p> Team : <%= player.team.name %>
                </div>
            <% end %>
        <% end %>
    <!-- div .jumbotron -->
    </div>
<!-- div .col-md-8 col-lg-8 col-sm-8 col-md-offset-2 col-sm-offset-2 col-lg-offset-2 -->
</div>
